dimod==0.10.10
numpy>=1.19.4
minorminer==0.2.7
dwave-system==1.11.0
dwave-neal==0.5.9
dwave-tabu==0.4.3
dwave-greedy==0.2.2
dwave-preprocessing==0.3.2
networkx
dwave-networkx==0.8.10
click
plucky>=0.4.3
